@import "../../styles/core";

nav {
    height: 70px;
    background-color: $colorLightGray;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        .app-title {
            color: $colorTextPrimary;
            text-decoration: none;
        }
    }
}