@import "../../styles/core";

:host {
    .title {
        text-align: center;
    }

    .user-list {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user {
        margin: 10px 0;
        width: 90%;
        @include border(solid, 1px, $colorLightGray, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($colorLightGray, 0.2);
        @media(min-width: 640px) {
            width: 600px;
        }
    }

    .col {
        flex: 1;

        &:first-child, &:last-child {
            display: flex;
            justify-content: center;
        }
    }

    .image {
        margin: 10px;
        @include border(solid, 4px, $colorPrimary, 50%);
        object-fit: cover;
        width: 60px;
        height: 60px;
        @media(min-width: 640px) {
            margin: 10px 20px;
            width: 100px;
            height: 100px;
        }
    }

    .name {
        font-size: 14px;
        @media(min-width: 640px) {
            font-size: 16px;
        }
    }

    .see-more {
        padding: 5px 10px;
        @include border(solid, 1px, $colorPrimary, 6px);
        background-color: $colorPrimary;
        color: $colorBackground;
        font-size: 10px;
        cursor: pointer;
        transition: all 250ms ease;

        @media(min-width: 380px) {
            font-size: 12px;
        }

        @media(min-width: 640px) {
            padding: 8px 16px;
            font-size: 14px;
        }

        @media(min-width: 1024px) {
            &:hover {
                background-color: rgba($colorPrimary, 0.8);
            }
        }
    }
}
